@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    font-size: 2rem;
    padding: 2rem;
    width: 33.33%;
    text-align: center;
}

.col img {
    max-width: 100%;
}

.image__container {
    position: relative;
    width: 100%;
    margin-bottom: 0;
}

.watch {
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    position: absolute;
    top: 30%;
    left: 30%;
}

nav {
    border-bottom: 5px solid white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    padding: 2rem 0;
}

.logo {
    font-size: 2rem;
}

.logo i {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

button {
    background-color: white;
    border: 0;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    cursor: pointer;
}

.green {
    color: #00d69f;
}

.red {
    color: #e75050;
}

.orange {
    color: #d27752;
}

@media screen and (max-width: 768px) {
    .col {
        width: 100%;
    }

    nav {
        justify-content: space-between;
    }

    nav button {
        margin: 0 0.5rem;
    }

    .logo {
        font-size: 1rem;
    }

    button {
        padding: 1rem 0.5rem;
    }

    .watch {
        left: 40%;
    }
}